.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: var(--headerHeight);
  background: var(--mainColor);
  color: white;
  padding: 0 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: white;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  font-weight: 900;
  letter-spacing: 1px;
}

.githubLink {
  color: white;
  text-decoration: none;
}
