.nav {
  position: sticky;
  top: 0;
  width: var(--navWidth);
  max-height: 100vh;
  overflow-y: scroll;
  /* min-height: calc(100%); */
  background: #f7f7f7;
  padding: var(--appTopPadding) 0 50px;
}

.navSubList,
.navList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navList {
  width: var(--navWidth);
}

.navListItem {
  margin-bottom: 5px;
}

.navListItem:last-child {
  margin-bottom: 50px;
}

.navSubLink,
.navLink,
.navSectionLink {
  outline: none;
  color: #111;
  text-decoration: none;
}

.navSectionLink {
  font-size: 1.15rem;
  font-weight: bold;
  padding: 13px var(--standardContentPadding);
  -webkit-font-smoothing: antialiased;
  display: block;
  user-select: none;
  z-index: 0;
  position: relative;
}

.navSubLink,
.navLink {
  display: flex;
  align-items: center;
  font-size: 1rem;
  height: 2.5rem;
  padding: 6px var(--standardContentPadding) 6px
    calc(var(--standardContentPadding) + 1rem);
  -webkit-font-smoothing: antialiased;
  user-select: none;
  color: #555;
  position: relative;
}

.navApiSubList {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navApiSubList .navLink {
  font-size: 0.95rem;
}

.navSubLink:after,
.navLink:after,
.navSectionLink:after {
  content: '';
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: -1;
  background: #e9e9e9;
  opacity: 0;
  will-change: opacity;
  transition: opacity 100ms ease-in-out;
}

.navSubLink.active:after,
.navSubLink:hover:after,
.navSectionLink.active:after,
.navSectionLink:hover:after,
.navLink.active:after,
.navLink:hover:after,
.navLink:focus:after,
.navSectionLink:focus:after,
.navSubLink:focus:after {
  opacity: 1;
}
