:root {
  --mainColor: #2b5dfd;
  --maxAppWidth: 950px;
  --navWidth: 300px;
  --headerHeight: 55px;
  --appBodyPadding: 40px;
  --appTopPadding: 30px;
  --standardContentPadding: 1.25rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #111;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  color: #a322e4;
  font-size: 0.9em;
}

h1 code,
h2 code,
h3 code {
  color: #111;
}

.codeBlock {
  display: block;
  padding: 1rem;
  border-radius: 0.25rem;
  display: block;
  background: #182a4a;
  color: #eaf4ff;
  white-space: pre;
}

a {
  color: var(--mainColor);
}

a code {
  color: var(--mainColor);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  position: relative;
}

.page h1 {
  font-weight: 900;
  font-size: 2.4rem;
}

.page p {
  line-height: 1.7;
}

.page li {
  margin-bottom: 0.5rem;
  line-height: 1.7;
}

.page li a {
  text-decoration: none;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page .indexTitle {
  font-size: 3.5rem;
  margin-bottom: 10px;
}

.page h2 {
  font-weight: 900;
  font-size: 1.7rem;
}

.page h3 {
  font-weight: 900;
  font-size: 1.2rem;
}

.badgeList {
  margin-bottom: 50px;
  min-height: 20px;
}

.badgeList > * {
  padding-right: 5px;
}

.activeNavLink:after,
.activeNavLink:after,
.activeNavLink:after {
  opacity: 1 !important;
}

.activeNavLink {
  color: green;
}

.advanced {
  color: #323e58;
  font-size: 0.9rem;
  padding: 0.65rem 1rem;
  border-radius: 0.25rem;
  background: #e2eeff;
}

.emoji {
  font-size: 1rem;
}

.heroProps {
  display: flex;
  margin-bottom: 2rem;
}

.heroPropContainer {
  padding: 0 1.5rem;
  flex: 0 0 50%;
}

.heroEmoji {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.heroProp {
  text-align: center;
  font-weight: 900;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.heroDescription {
  line-height: 1.7;
}

.getStartedLink {
  display: inline-block;
  margin-top: 2rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  background: var(--mainColor);
  box-shadow: 0 0 25px 2px rgba(43, 93, 253, 0.5);
}

.getStartedLink:hover {
  background: #3968ff;
}

.getStartedLink:active {
  background: #2354f1;
}
